myenv/
Backend/myenv
backend/__pycache__/
__pycache__/
Backend/backend/__pycache__
Backend/backend/migrations
Backend/backend/__pycache__
Backend/backend/__pycache__
AppBackend/__pycache__/
AppBackend/__pycache__
