myenv/
Backend/myenv
backend/pycache/
pycache/
Backend/backend/pycache/
Backend/backend/migrations
Backend/backend/pycache
Backend/backend/pycache
AppBackend/pycache/
AppBackend/pycache

*.pyc

Frontend/