.wrapper {
	padding-top: 10vh;
	width: 70vw;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.wrapper > div {
	margin-bottom: 2vh;
}

.container {
	padding-top: 10vh;
	width: 100vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}
